.tag{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
    cursor: pointer;
}
.tag__text{
    font-size: 14px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--grey-2-color);
}

.tag__circle{
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: var(--grey-3-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag__circle span{
    color: var(--grey-3-color);
}
.tag_removable:hover{
    .tag__text{
        transition: 1s;
        color: var(--red-color);
    }
    .tag__circle{
        transition: 1s;
        background-color: var(--red-color);
    }
    .tag__circle span{
        transition: 1s;
        color: var(--white-color);
    }

}
